@import url(styles/cabecalho.css);
@import url(styles/introducao.css);
@import url(styles/estruturas.css);
@import url(styles/rodape.css);
:root {
  --ciano-borda: #00ffd1;
  --roxo-borda: #ce0aee;
  --vermelho-borda: #f81b1b;
  --vermelho-fundo: rgba(53, 2, 2, 0.19);
  --branco: #f5f5f5;
  --ciano: #00ffd1;
  --roxo-borda-letra: #3c0498;

  --fonte-principal: 'Poppins', sans-serif;
  --fonte-secundaria: 'Radio Canada', sans-serif;
  --fonte-terciaria: 'Inter', sans-serif;
}

body {
  background-color: #000000;

  backdrop-filter: brightness(25%);
}
.introducao__texto,
.introducao-rodape {
  text-align: center;
}
