/* Importação de estilos de arquivos CSS externos */
@import url(styles/cabecalho.css);
@import url(styles/introducao.css);
@import url(styles/estruturas.css);
@import url(styles/rodape.css);

@import url(styles/aula.css);

/* Definição de variáveis de cores e fontes usando a pseudo-classe :root */
:root {
  --ciano-borda: #00ffd1;
  --ciano-fundo: rgba(2, 53, 53, 0.19);
  --roxo-borda: #ce0aee;
  --vermelho-borda: #f81b1b;
  --vermelho-fundo: rgba(53, 2, 2, 0.19);
  --branco: #f5f5f5;
  --ciano: #00ffd1;
  --ciano-letra: #08ffd2;
  --roxo-borda-letra: #3c0498;

  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Radio Canada", sans-serif;
  --fonte-terciaria: "Inter", sans-serif;
}

/* Configuração global para rolagem suave */
html {
  scroll-behavior: smooth;
}

/* Estilo global para o corpo da página */
body {
  background-color: #000000; /* Cor de fundo do corpo da página */
}

/* Estilos específicos para as seções 'introducao' e 'aula' */
.introducao__texto,
.introducao-rodape {
  text-align: center; /* Alinhamento do texto ao centro */
}
