.cabecalho {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/wallpapers/blue-city-wallpaper.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid var(--roxo-borda);
}

.cabecalho-logo {
    background-color: var(--ciano-fundo);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    overflow: hidden;
    width: 90%;
    border: solid 3px var(--roxo-borda);
    border-radius: 10px;
    margin: 2rem auto;   
}

.cabecalho-logo__imagem {
    display: block;
    padding: 2rem;
    width: 9vw;
    height: auto;
    max-width: 100%;
}

.cabecalho-logo__logicats {
    display: block;
    max-width: 100%;
    height: auto;
    width: 25vw;
    margin-right: 18rem; /* Empurra para a esquerda o máximo possível */
}
.cabecalho-navigation {
    display: flex;
    justify-content: space-around;
}


.cabecalho-navigation__link {
    background-color: var(--ciano-fundo);
    font-family: var(--fonte-secundaria);
    color: var(--ciano);
    padding: .8em 3em;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    border: 2px solid var(--roxo-borda);
    border-radius: 10px;
}

.cabecalho-navigation__link:hover {
    transition: .5s;
    background-color: var(--vermelho-fundo);
    border: 1px solid var(--vermelho-borda);
}

.cabecalho-mainText {
    font-family: var(--fonte-principal);
    display: flex;
    width: 50%;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    color: var(--ciano);
    margin: 8rem auto 0rem auto;
}

.cabecalho__primeiro-texto {
    backdrop-filter: brightness(25%);
    margin: 2rem auto;
    border: 1px solid var(--roxo-borda);
    border-radius: 10px;
    padding: .8em 7em;
}

.cabecalho__ultimo-texto {
    backdrop-filter: brightness(25%);
    margin: 2rem auto;
    border: 1px solid var(--roxo-borda);
    border-radius: 10px;
    padding: 3em 7em;
}

.cabecalho-mainText {
    text-align: center;
}

.cabecalho__primeiro-textoSobre {
        border: 2px solid var(--roxo-borda); /* Cor da borda */
        border-radius: 10px; /* Raio da borda para torná-la arredondada */
        padding: 5px; /* Espaçamento interno para o conteúdo */
        display: inline-block; /* Para que o bloco se ajuste ao conteúdo */
        background-color: var(--cor-de-fundo); /* Cor de fundo do bloco */
    }

.cabecalho__ultimo-textoSobre {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--fonte-terciaria);
    backdrop-filter: brightness(25%);
    border: 1px solid var(--roxo-borda);
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}

span.azul{
    color: var(--ciano);
}

