.estruturas {
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/wallpapers/cats_on_the_roof.jpg);
  display: flexbox;
}

.estruturas-cabecalho {
  backdrop-filter: brightness(25%);
  text-align: center;
  color: var(--ciano);
  width: 25%;
  margin: 3rem auto;
  border: 2px solid var(--roxo-borda);
  border-radius: 10px;
  padding: 1.5em 7em;
}

.estruturas-cabecalho_texto {
  font-size: 1.5rem;
}

.estruturas-itens {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem auto;
  padding: 0 7em;
  width: 100%;
  max-width: 1200px;
  backdrop-filter: brightness(25%);
  text-align: center;
  color: var(--ciano);
  width: 70%;
  margin: 3rem auto;
  border: 2px solid var(--roxo-borda);
  border-radius: 10px;
  padding: 1.5em 7em;
}

.estruturas__item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  padding: 10px;
}

.estruturas__item {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(72, 8, 66, 0.5);
  border: 1px solid #ce0aee;
  border-radius: 10px;
  padding: 1em;
  backdrop-filter: brightness(29%);
}
