.estruturas {
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/wallpapers/cat_on_the_window.jpg);
  display: flex;
  flex-direction: column;
}

.estruturas-cabecalho {
  font-family: var(--fonte-principal);
  font-style: italic;
  backdrop-filter: brightness(25%);
  text-align: center;
  color: var(--ciano);
  width: 25%;
  margin: 3rem auto;
  border: 2px solid var(--roxo-borda);
  border-radius: 10px;
  padding: 1.5em 7em;
}

.estruturas-cabecalho_texto {
  font-size: 1.5rem;
}

.estruturas-itens {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem auto;
  padding: 0 7em;
  width: 100%;
  max-width: 120vw;
  backdrop-filter: brightness(25%);
  text-align: center;
  color: var(--ciano);
  width: 50%;
  margin: 3rem auto;
  border: 2px solid var(--roxo-borda);
  border-radius: 10px;
  padding: 1.5em 7em;
}

.estruturas-itens h2 {
  margin: .7em 0 .2em 0;
}

.estruturas__item img {
  border: 1px solid var(--ciano);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 4px;
}

.estruturas__item {
  font-family: var(--fonte-principal);
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(72, 8, 66, 0.5);
  border: 1px solid #ce0aee;
  border-radius: 10px;
  padding: .7em;
  backdrop-filter: brightness(29%);
}
