/* Estilos para a seção de introdução */
.introducao {
  background-size: cover;
  height: auto;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/wallpapers/vhs-wallpaper.jpg);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--roxo-borda);
  position: relative;
}

/* Estilos para o cabeçalho da seção de introdução */
.introducao-cabecalho {
  -webkit-text-stroke: 1px var(--roxo-borda-letra);
  font-family: var(--fonte-principal);
  font-style: italic;
  backdrop-filter: brightness(25%);
  text-align: center;
  color: var(--ciano);
  width: 15%;
  margin: 3rem auto;
  border: 2px solid var(--roxo-borda);
  border-radius: 10px;
  padding: 1.5em 7em;
}

.introducao-cabecalho__texto {
  font-size: 1.5rem;
}

/* Estilos para os textos na seção de introdução */
.introducao-textos {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center; /* Coloca espaço entre os dois textos */
}

.introducao__texto {
  width: 65%; /* Ou qualquer valor que permita algum espaço entre os elementos */
  box-sizing: border-box; /* Evita que as bordas e preenchimentos alterem as dimensões */
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.introducao__texto h2 {
  text-wrap: nowrap;
  -webkit-text-stroke: 1px var(--roxo-borda-letra);
  font-weight: bold;
  font-size: 20px;
  font-family: var(--fonte-principal);
  backdrop-filter: brightness(25%);
  border: 1px solid var(--roxo-borda);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem 4rem;
  color: var(--ciano);
  width: 40%;
}

.introducao__info,
.introducao__estruturas {
  font-size: 1rem;
  font-family: var(--fonte-principal);
  backdrop-filter: brightness(25%);
  border: 1px solid var(--roxo-borda);
  border-radius: 10px;
  color: var(--ciano);
  height: auto;
  padding: 4rem 2rem;
}

.introducao__estruturas {
  margin: 0 auto;
  width: 40%;
}

.introducao__estruturas p {
  text-align: left;
}

/* Estilos para o rodapé na seção de introdução */
.introducao-rodape {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4rem auto;
  box-sizing: border-box;
  justify-content: center;
}

.introducao-rodape > h2 {
  -webkit-text-stroke: 1px var(--roxo-borda-letra);
  font-weight: bold;
  font-size: 20px;
  font-family: var(--fonte-principal);
  backdrop-filter: brightness(25%);
  border: 1px solid var(--roxo-borda);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem 4rem;
  color: var(--ciano);
}

.introducao-rodape > p {
  font-size: 1rem;
  font-family: var(--fonte-principal);
  backdrop-filter: brightness(25%);
  border: 1px solid var(--roxo-borda);
  border-radius: 10px;
  color: var(--ciano);
  padding: 1rem 1rem;
}
