/* Estilos para a seção de rodapé */
.rodape {
  display: flex;
}

.rodape-logo {
  background-color: rgba(0, 0, 0, 0.445);
}

/* Estilos para os títulos (h2) no rodapé */
.rodape h2 {
  font-family: var(--fonte-terciaria);
  color: var(--ciano);
}

/* Estilos para as imagens no rodapé */
.rodape img {
  width: 25%;
}
